.pp2{
    position: absolute;
width: 627px;
height: 280px;
left: 52px;
top: 144px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 119px;
color: #504C4C;
}
.p3{
    position: absolute;
    width: 273px;
    height: 50px;
    left: 41px;
    top: 424px;
    
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}
.btn3{
    position: absolute;
width: 133px;
height: 38px;
left: 52px;
top: 515px;
background: #FAA89D;
border: 1px solid #000000;
border-radius: 6px;
box-sizing: border-box;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

text-align: center;

color: #504C4C;
}
.btn4{
    position: absolute;
    width: 133px;
    height: 38px;
    left: 222px;
    top: 515px;   
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #504C4C;
}
.img123{
    position: absolute;
width: 754px;
height: 533px;
left: 580px;
top: 121px;


}