body{
    box-sizing: border-box;
    margin: 0;
    background-color: #FCFCFC;
}
.layout{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
}
.ad00{
    width: 40%;
    border-right: 0.5px solid black;
}
.ad01{
    margin: 0px auto;
    width: 75%;
    background-image: url(../assets/ads/791e1520-bf22-11eb-bffd-41da46d2d1cb.jpg);
    height: 593px;
}
.ad02{
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.link{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.par00{
    margin: 0px 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
}
.par01{
    width: 115px;
    font-size: 20px;
    font-weight:  bold;
    color: white;
    padding:12px 21px  ;
    background-color: #FC6B58;
    text-align: center;
    border-radius: 6px;
}
.frm000{
    width: 60%;
}
.com00{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.h00{
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #504C4C;
}
.sp00{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5px black solid;
    padding-bottom: 20px;
    width: 83%;
    justify-content: center;
}
.sp01{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
cursor: pointer;
}
.inp00{
    background-color: #FCFCFC;
    width: 340px;
    height: 34px;
    border-radius: 15px;
    border: 0.2px solid black;
    outline: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.inp00:focus{
    transition: 0.5s ;
    border-radius: 10px;
}
.but00{
    padding: 10px 30px;
    border-radius:25px ;
    border: unset;
    background-color: #FC6B58;
    box-shadow: 0px 1px 4px 0px #FC6B58;
    color: white;
    font-size: 18px;
    font-weight:400;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.but00:hover{
    transition: 0.5s;
    border-radius: 14px;
    background-color: #f56653;
}
.link01{
    margin-right: 10px;
}
.lis00{
    display: flex;
    justify-content: start;
    width: 83%;
    margin-top: 11px;
    list-style-type: none;
    padding-inline-start: 0;
    flex-direction: column;
}
.chlis00{
    width: 100%;
    margin-top: 20px;
}
.sp02{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    
}
.h01{
margin-left: 10px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
color: #928484;
}
.com01{
    width: 90%;
    border-bottom: 0.5px black solid;
}
.par03{
    color: #504C4C;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 90%;
}
.flotlistfalse{

    transition: 0.5s  ;
    transition-property:opacity;
    opacity: 0%;
    visibility: hidden;
    position: absolute ;
    top: 21%;
    right: auto;
}
.flotlisttrue{
    transition: 0.5s  ;
    transition-property:opacity;
    opacity: 100%;
    visibility: visible;
    position: absolute ;
    top: 31%;
    right: auto;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    background-color: #FCFCFC;
    cursor: default;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    border:0.2px rgba(0, 0, 0, 0.2) solid;
}
.anlist{
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.anlist li{
    width: 100%;
}
.anlist li span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flotlisttrue::before,.flotlistfalse:before{
    content: "";
    position: absolute;
    transform: rotate(45deg);
    top: -12px;
    height: 20px;
    right: 46%;
    width: 20px;
    background-color: #FCFCFC;
    border-left:0.2px rgba(0, 0, 0, 0.2) solid;
    border-top: 0.2px rgba(0, 0, 0, 0.2) solid;

}
input[type="radio"]{
    display: none;
}
.star{
    cursor: pointer;
    transition: color 0.2s;
}
.ratelay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.p04{
color: #504C4C ;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight:bold ;
}
@media only screen and (max-width:1000px){
.layout{
    flex-direction: column;
    
}
.ad00{
    width: 100%;
    border-bottom: 0.5px solid black ;
    padding: 15px 0px;
}
.ad01{
    height: 180px;
    width: 90%;
    background-size:100%;
    border-radius: 10px
}
.ad02{
    border-radius: 10px;
    justify-content: space-between;
}
.but00{
    border-radius: 15px;
    padding: 8px 20px;
}
.par00{
margin-top: 30px;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    width: 246px;
}
.par01{
    width: 100px;
    font-size: 16px;
    font-weight:  bold;
    color: white;
    padding:10px 5px  ;
    background-color: #FC6B58;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 30px;

}
.frm000{
    width: 100%;
}
.com00{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inp00{

    width: 300px;
    height: 28px;
    border-radius: 12px;
    border: 0.2px solid black;
    outline: none;
    font-size: 12px;

}
.inp00:focus{
    border-radius: 8px
}
.h00{
    font-size: 20px;
}
.h01{
    font-size: 16px;
}
.img00{
    height: 30px;
    width:30px ;
}
.img01{
    height: 30px;
    width:30px ;
}
.par03{
    font-size: 14px;
}
.flotlisttrue{
    top: 381px;
    width: 200px;
}
.p04{
    font-size: 14px;
}
.but00:hover{
    border-radius: 10px;
}
}

